*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */


.calendar__container {
    margin: 20px;
}
.calendar__months {
    padding: 70px 0px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.calendar__months ul {
    display: flex;
    justify-content: space-between;
}

.calendar__months ul li {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.calendar__months .calendar__prev {
    order: 1;
    padding: 0px 0px 5px 10px;
    font-size: 2.5vw;
}

.calendar__months .calendar__prev:hover {
    cursor: pointer;
    order: 1;
    padding: 0px 0px 5px 10px;
    font-size: 2.5vw;
    color: rgb(194, 194, 194);
}

.calendar__months .calendar__next {
    order: 3;
    padding: 0px 10px 5px 0px;
    font-size: 2.5vw;
}

.calendar__months .calendar__next:hover {
    cursor: pointer;
    order: 3;
    padding: 0px 10px 5px 0px;
    color: rgb(194, 194, 194);
    font-size: 2.5vw;
}

.calendar__month {
    order: 2;
    padding-bottom: -5px;
    font-size: 2.5vw;
}

.calendar__numbers {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 238, 238);
    height: 25rem;
}
.calendar__weekdays {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 1% 1.6%;
    background-color:#ddd;
}

.calendar__weekdays li {
    width: 13.6%;
    font-size: 1.5vw;
    color: #666;
    text-align: center;
}

.calendar__days{
    padding: 1%;
    font-size: 0;
}

.calendar__current li{
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 0.6%;
    padding: 0.2%;
    font-size: 1.5vw;
    color: rgb(71, 70, 70);
}


.calendar__days .calendar__active{
    text-align: center;
    background: #1abc9c;
    color: azure !important;
    font-weight: 700;
}



.calendar__prev-and-next-days{

    color: rgb(165, 161, 161) !important;
}


@media screen and (min-width: 1750px) {
    .calendar__days li {font-size: 1.2vw; padding: 1%;}
    .calendar__numbers {height: 42rem;}
}

@media screen and (min-width: 1351px){
    .calendar__days li {font-size: 1.2vw; padding: 1%;}
    .calendar__numbers {height: 37rem;}
}

@media screen and (min-width: 921px) and (max-width: 1350px) {
    .calendar__days li {font-size: 1.3vw; padding: 1%;}
    .calendar__numbers {height: 28rem;}
}

@media screen and (max-width: 920px) {
    .calendar__weekdays {padding: 1.5% 1.6%;}
    .calendar__weekdays li {width: 13.1%; font-size: 3vw;}
    .calendar__days li {width: 13.1%; font-size: 3vw; margin-bottom: 3%; margin-left: 1%;}
    .calendar__days .calendar__active {width: 13.1%;}
    .calendar__months .calendar__prev {font-size: 3vw;}
    .calendar__months .calendar__prev:hover {font-size: 3vw;}
    .calendar__months .calendar__next {font-size: 3vw;}
    .calendar__months .calendar__next:hover {font-size: 3vw;}
    .calendar__month {font-size: 4vw;}
    .calendar__numbers {height: 37rem;}
}

@media screen and (max-width: 620px) {
    .calendar__weekdays {padding: 1.8% 1.6%;}
    .calendar__weekdays li {width: 12.5%; font-size: 4.5vw;}
    .calendar__days li {width: 12.5%; font-size: 4vw; margin-bottom: 6.5%; padding: 2%; margin-left: 1.6%;}
    .calendar__days .calendar__active {width: 12.5%;}
    .calendar__months .calendar__prev {font-size: 4vw;}
    .calendar__months .calendar__prev:hover {font-size: 4vw;}
    .calendar__months .calendar__next {font-size: 4vw;}
    .calendar__months .calendar__next:hover {font-size: 4vw;}
    .calendar__month {font-size: 5vw;}
    .calendar__numbers {height: 38rem;}
}

@media screen and (max-width: 500px) {
    .calendar__weekdays {padding: 2% 1.6%;}
    .calendar__weekdays li {font-size: 6vw; }
    .calendar__days li {font-size: 6vw; margin-bottom: 6.5%; padding: 2.5%; margin-left: 1.6%;}
    .calendar__months .calendar__prev {font-size: 6vw;}
    .calendar__months .calendar__prev:hover {font-size: 6vw;}
    .calendar__months .calendar__next {font-size: 6vw;}
    .calendar__months .calendar__next:hover {font-size: 6vw;}
    .calendar__month {font-size: 7vw;}
    .calendar__numbers {height: 37rem;}
}


@media screen and (max-width: 300px) {
    .calendar__weekdays {padding: 3% 1.6%;}
    .calendar__weekdays li {width: 12.2%;}
    .calendar__days li {width: 12.2%; margin-bottom: 10.5%; padding: 2%; margin-left: 1.9%;}
    .calendar__days .calendar__active {width: 12.2%;}
    .calendar__months .calendar__prev {font-size: 7vw;}
    .calendar__months .calendar__prev:hover {font-size: 7vw;}
    .calendar__months .calendar__next {font-size: 7vw;}
    .calendar__months .calendar__next:hover {font-size: 7vw;}
    .calendar__month {font-size: 8vw;}
    .calendar__numbers {height: 28rem;}
}